.navigation-bar {
    height: 88px;
    background: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.navigation-bar-content {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.navigation-bar-icon {
    position: relative;
    aspect-ratio: 1175/850;
    height: 100%;
}
.navigation-bar-button {
    border-radius: 20px;
    background: #fff;
    border: 1px solid #27AE60;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #27AE60;
    cursor: pointer;
    transition: background .1s ease;
}
.navigation-bar-button:hover {
    background: #f6f6f6;
}
